<div class="padding-20 bg-app">
  <p>Componente App</p>


  <!--  <app-componente-app1 *ngIf="showApp1"></app-componente-app1>-->

  <app-componente-app2 [nombreActual]="nombreEnApp"
                       (newEvent)="appEvent($event)"></app-componente-app2>

  <p>{{nombreEnApp}}</p>
  <button (click)="updateName()">Actualializar Nombre</button>


  <!--  <app-share-a1></app-share-a1>-->


  <!--  <button (click)="showApp1 = !showApp1">Toogle App1</button>-->
  <!--  <h3>Current number: {{ currentNumber }}</h3>-->
  <!--  <button (click)="onClick()">Click me</button>-->
</div>


