<div class="padding-20 bg-app2">
  <p>Componente App2</p>

  <p>Nombre Actual: {{nombreActual}}</p>

  <input #myInput type="text">

  <button (click)="emmitEvent(myInput.value)">EmmitEvent</button>
</div>
