/* You can add global styles to this file, and also import other style files */
.fondo{
  background: blue;
}

.padding-20{
  padding: 20px;
}

.bg-app{
  background: gray;
}

.bg-app1{
  background: cornflowerblue;
}
.bg-app2{
  background: aqua;
}


/*share*/
.bg-share1{
  background: darkcyan;
}
.bg-share2{
  background: darkseagreen;
}
